<h3>
  Hi <%= @user.name %>
</h3>

<p>Use this code to reset your password:</p>

<p style="font-size: 24px; font-weight: 700; letter-spacing: 2px;">
  <%= @user.pin %>
</p>

<p>This code expires in 10 minutes. If you did not request a reset, you can ignore this email.</p>
